<h1>Article info</h1>

<p><strong>Title:</strong> <%= @article.title %></p>
<p><strong>Url of article:</strong> <%= @article.url_of_article %></p>
<p><strong>Number of comments: </strong><%= @article.number_of_comments %></p>

<div>
  <strong><%= link_to 'Count comments', analyze_article_path(@article) %></strong> |
  <%= link_to "Get comments", article_comments_path(@article), data: { "turbo-method": :post } %> |
  <%= link_to "Show table of comments", article_comments_path(@article) %>
  <p></p>
  <h2><%= link_to "Back to articles", articles_path %> |
      <%= link_to "Add another article", new_article_path %> |
      <%= link_to "Delete this article", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </h2>
</div>
