<h1>Article info</h1>

<p><strong>Title:</strong> <%= @article.title %></p>
<p><strong>Url of article:</strong> <%= @article.url_of_article %></p>
<p><strong>Number of comments: </strong><%= @article.number_of_comments %></p>

<div>
  <strong><%= link_to 'Analyze', analyze_article_path(@article) %></strong> |
  <strong><%= link_to "Add article", new_article_path %></strong> |
  <%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Get comments", get_comments_article_path(@article) %> |
  <%= link_to "Show comments", article_comments_path(@article) %>
  <h2><%= link_to "Back to articles", articles_path %></h2>
</div>
