<h1>Article info</h1>

<p><strong>Title:</strong> <%= @article.title %></p>
<p><strong>Url of article:</strong> <%= @article.url_of_article %></p>
<p><strong>Number of comments: </strong><%= @article.number_of_comments %></p>

<div>
  <%= link_to "Back to articles", articles_path %> |
  <%= link_to 'Analyze', analyze_path(@article) %> |
  <%= link_to "Add article", new_article_path %>

  <%= button_to 'Delete', article_path(@article), method: :delete, data: {turbolinks: false, confirm: "Are you sure?"} %>
</div>
